<div class="container-fluid">
<div class="row justify-content-center align-items-center g-2">
    <img src="https://via.placeholder.com/1920x300.png?text=Mon+Super+Blog" alt="banniere">
</div>
    
</div>