{% extends "base.html.twig" %}
{% block title %}MA page d'index{% endblock %}
{% block content %}
{% include "parts/banniere.html.twig" %}
<div class="row justify-content-center align-items-center g-2">
    <h1>Bienvenu sur mon blog</h1>
</div>

{% endblock %}