<h1>Ici mon article</h1>
<div>
    <ul>
        <li>URL: <strong>{{url}}</strong> </li>
        <li>ID : <strong>{{id}}</strong></li>
        <li>Webmaster : <strong> {{webmaster}} </strong></li>
    </ul>
</div>