{% extends "base.html.twig" %}
 {% block title %}{{url}}|{{parent()}}{% endblock %}
 {% block content %}
 <article class="container">
    <div class="row">
        <h2 class="col col-12"> {{url|upper|replace({"-":" "})}} </h2>
        <span class="text-center">14/01/2019</span>
        <p>
            <img src="https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="img-fluid">
        </p>
        <span class='categories text-center d-block font-weight-bold text-uppercase'>Catégorie : php</span>
    </div>
    <div class="row">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque nihil distinctio beatae debitis optio recusandae, alias assumenda fuga sed architecto reprehenderit quibusdam similique nisi! At dolore voluptatem voluptas qui mollitia.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error sit pariatur cumque inventore repellendus fuga, officia dolorum sequi asperiores molestiae, a, eos soluta provident. Molestias libero alias officiis ad autem!</p>
    </div>
 </article>
 {% endblock %}